workspace
Android/local
Blackberry/local
JavaCommon/local
JavaCommonTest/local
*/local.properties
*/.project
*/.classpath
*/.settings
*/bin
*/gen
*.tgz
todo.*
bbjde_4.6.0/
bin/
build_cp/
keys/
Android/android.properties
